{%- macro render_opt(name, val) %}
{%-   if val is boolean %}
{%-     set rendered = val | string | lower %}
{%-   elif val | is_list %}
{%-     set rendered = val | join(',') %}
{#-   some special characters might make problems, escape the value just in case #}
{%-   elif val is string %}
{%-     set rendered = '"{}"'.format(val) %}
{%-   else %}
{%-     set rendered = val | string %}
{%-   endif %}
{{- name | upper }}={{ rendered }}
{%- endmacro -%}

## Esplora prerender-server config file managed by Salt.
## Manual changes might be overwritten.

{%- for name, val in esplora.config.items() %}
{%-   if name | lower != "api_url" %}
{{ render_opt(name, val) }}
{%- endif %}
{%- endfor %}

# API_URL needs to be electrs, not the public endpoint.
API_URL='{{ esplora.electrs }}'
