{%- macro render_opt(name, val) %}
{%-   if val is boolean %}
{%-     set rendered = val | string | lower %}
{%-   elif val | is_list %}
{%-     set rendered = val | join(',') %}
{#-   some special characters might make problems, escape the value just in case #}
{%-   elif val is string %}
{%-     set rendered = '"{}"'.format(val) %}
{%-   else %}
{%-     set rendered = val | string %}
{%-   endif %}
{{- name | upper }}={{ rendered }}
{%- endmacro -%}

## Esplora prerender-server config file managed by Salt.
## Manual changes might be overwritten.

{%- for name, val in esplora.config.items() %}
{%-   if name | lower not in ["api_url", "base_href", "static_root"] %}
{{ render_opt(name, val) }}
{%- endif %}
{%- endfor %}

# API_URL needs to be electrs, not the public endpoint.
API_URL='{{ esplora.electrs }}'

# BASE_HREF needs to be /nojs to avoid redirection issues
BASE_HREF='{{ esplora.config.get('base_href', '/') ~ 'nojs/' }}'

# and STATIC_ROOT needs to point to the actual root since the assets are there
STATIC_ROOT='{{ esplora.config.get('static_root', '/') }}'

{%- if 'noscript_redir' not in esplora.config %}

NOSCRIPT_REDIR=true
{%- endif %}
